<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://wallpaperaccess.com/full/229832.jpg);">
  <div class="container">
    <h1>List <strong>Manager</strong> from <strong>Oscar Estelles</strong>!</h1>
    <p>Manage your lists and know new films!.</p>
    <%= link_to "GO", lists_path, class:"button5" %>
  </div>
</div>
